.add-resource {
  display: flex;
  justify-content: space-between;
}
.addimg {
  width: 50vw;
  margin-right: auto;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.labels {
  color: #7e858e;
  font-size: 14px;
  justify-self: left;
}
.onlink {
  color: #0b69ff;
}
.create {
  color: #ffffff;
  background-color: #0b69ff;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px 10px;
}
.change {
  color: #7e858e;
  font-size: 18px;
}
